body {
  background: #f00;
}

.hb-alert {
  font-size: 14px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  background: rgba(255, 255, 255, 0.8);
  blur: 5px;
  padding: 0 10px;
  .hb-alert-wrapper {
    position: relative;
  }
  .hb-button {
    text-decoration: none;
    background: #26F593;
    color: #333;
    padding: 3px 5px;
    margin: 0 5px;
    //border-radius: 5px;
  }
  .hb-current-version {
    display: inline-block;
    font-size: 12px;
  }
  .hb-close {
    float: right;
    display: block;
    color: #000;
    margin-right: 25px;
    position: relative;
    &:hover {
      &:before, &:after {
        background: #26F593;
      }
    }
    &:before, &:after {
      content: ' ';
      width: 2px;
      height: 15px;
      background: #333;
      display: block;
      position: absolute;
      top: 7.5px;
      cursor: pointer;
    }
    &:before {
      left: -2px;
      transform: rotate(45deg);
      //top: 10px;
    }
    &:after {
      right: 0;
      transform: rotate(-45deg);
      //top: 15px;
    }
  }
}